[general]
vpngate_update_interval_seconds = 3600
proxy_update_interval_seconds = 300
network_check_interval_seconds = 180
proxy_test_url = https://www.google.com
#proxy_test_url = https://cachefly.cachefly.net/1mb.test
ping_check_ip = 8.8.8.8
vpngate_url = http://www.vpngate.net/api/iphone/
# 代理验证重试配置
proxy_retry_count = 3
proxy_retry_delay_seconds = 1

[vpngate]
country_codes = HK,TW,KR,TH,JP,US
hostname_filter_keywords = ^openvpn-.*, .*test.*
# 新增本地代理配置项
[local_proxies]
enable = yes
proxies = socks5h://192.168.1.1:3128, socks5h://192.168.3.1:3128, http://192.168.1.1:8888
